body {
  background-image: url("images/fon.jpg");
  background-color: rgb(255, 255, 255);
  background: cover;
  font-family: 'Hind', sans-serif;
}

#valju {
  background-color: rgb(28, 52, 74, 0.6);
  border-radius: 10px;
}

li:hover {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}

a:hover {
  color: rgb(255, 111, 97);
}

.nav-link {
  color: rgb(255, 255, 255);
}

.mainTable {
  text-align: center;
  padding: 15px;
  width: 80%;
  margin: 25px;
}

.kokkuRow {
  padding-top: 5%;
  text-align: center;
  font-size: 16px;
}

.tabeliNuppRow {
  padding-top: 5%;
  padding-bottom: 2%;
  justify-content: center;
  font-size: 18px;
}

.btn-secondary, .btn-primary {
  border-radius: 10px;
}

.expenseRowButtons {
  padding: 5px;
  display: inline;
  border-radius: 25px;
}

#navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(28, 52, 74, 0.4);
  font-size: 20px;
}

#chartdiv {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.9);
  font-size: 18px;
}

#muudaNupp {
  background-color: rgb(60, 180, 221);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-top: 3%;
}

#kustutaNupp {
  background-color: rgb(14, 26, 37, 0.8);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-top: 3%;
}

#mainContainer {
  background-color: rgb(255, 255, 255, 0.9);
}

#tableFirstRow {
  background-color: rgb(128, 128, 128, 0.5);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#tabeliNupp {
  padding: 8px;
  background-color: rgb(255, 111, 97);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

#authBody {
  background-image: url("images/fon2.jpg");
  background-size: cover;
}

#LogInCol {
  background-color: rgb(255, 255, 255, 0.7);
  text-align: center;
  padding: 70px;
  margin-top: 20%;
  /* border: 1px solid rgb(255, 255, 255, 0.7); */
  border-radius: 200px;
}

#loginH1 {
  color: rgb(255, 111, 97);
  font-family: 'Open Sans', sans-serif;
}

#logisisseNupp {
  background-color: rgb(255, 230, 230);
  color: rgb(77, 77, 77);
  border: none;
}

#kuludeTabel {
  justify-content: center;
}